body {
  margin: 0;
  padding: 0;
}

/* Стилизация React Big Calendar под Ant Design */
.rbc-calendar {
  font-family: inherit;
}
.rbc-btn-group button {
  color: rgba(0, 0, 0, 0.88) !important;
  border-color: #d9d9d9 !important;
}
.rbc-btn-group button.rbc-active {
  background-color: #e6f4ff !important;
  color: #1677ff !important;
  border-color: #1677ff !important;
  box-shadow: none !important;
}
